.elementor-widget-container {
    padding: 2.75em 1em 2.75em 1em;
}

.elementor-element-populated{
    background-color: #FDC300;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.ele-h1{
    color: #000 ;
    font-size: 50px;
    font-weight: 900;
}